body {
  background-color: #ddd
  -webkit-transition: background-color 0.8s ease-out
  -moz-transition: background-color 0.8s ease-out
  transition: background-color 0.8s ease-out
}
#trigger {
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  cursor: pointer
}